@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: URL('./PressStart2P-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    height: 100%;
}
html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

body {
    background-color: black;
}
.uplot {
		display: inline-block;
}

.header {
    width: 100%;
}

.container {
    position: relative;
    top: 30%;
    width: 60%;
    height: 40%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "add peers peers"
        "add peers peers"
}

.about {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.add { grid-area: add; }
.peers { grid-area: peers; }

/*FANCY*/

#retrobg-ground {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 40%;
  bottom: 0;
}

.retrobg-shutdown #retrobg-ground {
  border-color: #000;
}

#retrobg-groundShadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#000 0%, transparent);
}

/* ............................................................... */
#retrobg-linesWrap {
  height: 100%;
  perspective: 1000px;
  perspective-origin: center top;
}

#retrobg-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top center;
  animation: 1.777s linear infinite retrobg-lines-anim;
}

@keyframes retrobg-lines-anim {
  from {
    transform: rotateX(87deg) translateY(0);
  }
  to {
    transform: rotateX(87deg) translateY(100px);
  }
}
#retrobg-hlines,
#retrobg-vlines {
  position: absolute;
  left: calc( ( 900% - 100% ) / -2 );
  width: 900%;
  height: 500%;
}

#retrobg-vlines {
  display: flex;
  justify-content: center;
}

.retrobg-hline,
.retrobg-vline {
  width: 100%;
  height: 100%;
  background-color: #92cc41;
}

.retrobg-hline {
  height: 2px;
}

.retrobg-vline {
  width: 1px;
}

.retrobg-hline + .retrobg-hline {
  margin-top: 98px;
}

.retrobg-vline + .retrobg-vline {
  margin-left: 48px;
}
